@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode transitions */
* {
  transition-property: background-color, border-color, color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
